<ion-header mode="md">
  <ion-toolbar>
    <ion-buttons slote="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content mode="ios">
  <div class="glass-content ion-padding">
    <div class="ion-text-center ion-padding-top" *ngIf="character">
      <ion-avatar>
        <img [src]="character.Imagen">
      </ion-avatar>
      <h1>{{character.Nombre}}</h1>
      <div>Estado: {{character.Estado}}</div>
      <ion-item lines="none">
        <ion-icon slot="start" name="person-outline"></ion-icon>
        <ion-label>Genero: <strong>{{character.Genero}}</strong></ion-label>
      </ion-item>
      <ion-item lines="none">
        <ion-icon slot="start" name="finger-print-outline"></ion-icon>
        <ion-label>Ocupacion: <strong>{{character.Ocupacion}}</strong></ion-label>
      </ion-item>
      
      <ion-item lines="none">
        <ion-col class="ion-text-justify">
          
          <p><strong>Descripcion: </strong>{{character.Historia}}</p>  
        </ion-col>
      </ion-item>
      
    </div>
  </div>
</ion-content>